<% @feeds.each do |feed| %>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-start align-items-center">
            <%= avatar(feed.user, "rounded-circle")%>
            <div class="ml-2">
              <p class="h6 mb-0 ml-0"><%=feed.user.name %></p>
              <i class="far fa-clock text-muted h7 mt-0 ml-0" aria-hidden="true"> <%= distance_of_time_in_words(feed.created_at, Time.now)%>前</i>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to '編集', edit_feed_path(feed), class: "dropdown-item" %>
              <%= link_to '削除', feed_path(feed), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div>
          <%= image_tag feed.image.url, class:"card-image" if feed.image.url %>
        </div>
      </div>
      <% if feed.content.present? %>
        <div class="card-body">
          <div class="card-text ml-2 py-1">
            <%= feed.content %>
          </div>
        </div>
      <%end%>
      <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-default px-0">
            <span class="far fa-comments h6" aria-hidden="true"> 12件</span>
          </button>
          <div>
            <%= link_to '詳細', feed_path(feed), class: "card-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
<div class="mb-5"></div>

