<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-5">
        <%= form_with(model:@user, local: true) do |f| %>
          <div class="card-body">
            <div class="card-title ml-3 mt-2">
              <div class="d-flex">
                <div>
                  <%= avatar(@user, "profile-avatar") %>
                </div>
                <div class="ml-5 my-auto">
                  <p class="h4 mb-2 text-dark"><%= @user.name %></p>
                  <p class="h6-5 lead text-muted mb-3">投稿<%= @user.feeds.count%>件</P>
                  <%= link_to " 編集", edit_user_path, class: "btn btn-outline-info fas fa-user-edit"%></p>
                </div>
              </div>
            </div>
          </div>

          <%= render 'shared/user_error' %>

          <div class="card-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">プロファイルを編集</a>
                <a class="nav-item nav-link" id="nav-pw-tab" data-toggle="tab" href="#nav-pw" role="tab" aria-controls="nav-pw" aria-selected="false">パスワードを変更</a>
              </div>
            </nav>
            <div class="tab-content px-5 my-3" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <div class="form-group mx-auto">
                  <div>
                    <%= f.label :name, "名前" %>
                    <%= f.text_field :name, autofocus: true, class: "form-control"%>
                  </div>
                  <div class="mt-4">
                    <%= f.label :email, "メールアドレス"%>
                    <%= f.text_field :email, class: "form-control"%>
                  </div>
                  <div class="text-center my-4">
                  <%= f.submit "保存", class: "btn btn-secondary my-4"%>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-pw" role="tabpanel" aria-labelledby="nav-pw-tab">
                <div class="form-group mx-auto">
                  <div>
                    <%= f.label :password, "新しいパスワード"%>
                    <%= f.password_field :password, class: "form-control signin-box", placeholder: ""%>
                  </div>
                  <div class="mt-4">
                    <%= f.label :password_confirmation, "新しいパスワード再入力"%>
                    <%= f.password_field :password_confirmation, class: "form-control signin-box", placeholder: ""%>
                    <div class="text-center">
                      <small class="text-muted fas fa-exclamation-circle"> パスワードの長さは最低6文字です。</small>
                    </div>
                  </div>
                  <div class="text-center my-4">
                    <%= f.submit "保存", class: "btn btn-secondary my-4"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>




      <div class="pt-4">
        <%#= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url%>
        <div class="uploader">
        <%#= f.file_field :avatar, class:"carrierwave-field mx-auto"%>
        <%#= f.hidden_field :avatar_cache%>
        </div>
      </div>


  </div>
</div>
